@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #FFC300;
  --foreground-rgb: 24, 24, 27;
}

body {
  font-family: 'Inter', sans-serif;
  color: rgb(var(--foreground-rgb));
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

/* Ajuste de harmonia para títulos */
h1, h2, h3 {
  letter-spacing: -0.02em;
}

/* Scrollbar fina estilo Martfury */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #e4e4e7;
  border-radius: 10px;
}
